body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('stock-market.jpg'); /* Thay đổi màu nền thành hình nền */
    background-size: cover; /* Đảm bảo ảnh phủ kín toàn bộ màn hình */
    background-position: center; /* Căn giữa ảnh */
    background-repeat: no-repeat; /* Không lặp lại ảnh */
    color: white; /* Thay đổi màu chữ để dễ đọc hơn */
}

header {
    background-color: #007acc;
    color: white;
    padding: 20px;
    text-align: center;
}

h1, h2 {
    color: #333;
}

main {
    padding: 20px;
}

section {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 10px 0;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #007acc;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}
